h1 {
  text-align: center;
  font-size: 2rem; /* Adjust this value as needed */
}

h1, .top-instructions p {
    line-height: 1.2; /* Default is usually around 1.5 */
}

h1 {
    margin-bottom: 0.5rem; /* Adjust this value as needed */
}

.top-instructions p {
    margin-top: 0.5rem;    /* Adjust for the top margin */
    margin-bottom: 1rem; /* Adjust for the bottom margin */
}



#game-board {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.letter-box {
  border: 2px solid gray;
  border-radius: 3px;
  margin: 2px;
  font-size: 2.5rem;
  font-weight: 700;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.filled-box {
  border: 2px solid black;
}

.letter-row {
  display: flex;
  flex-wrap: wrap;
}

#word-input {
  font-size: 1.5rem;
  padding: 0.5rem;
  text-align: center;
  margin-top: 1rem;
  text-transform: uppercase;
  width: 100%;
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#submit-guess {
  font-size: 2rem;
  background-color: #4CAF50;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#play-again-btn {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin-top: 2rem;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #f1f1f1;
    color: #0000EE;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Adjust styles for the instructions */
.top-instructions,
.bottom-instructions {
  text-align: center; /* This will center-align the text horizontally */
}

.collapsible-container {
    text-align: center;
    margin-top: 1rem;
}

.collapsible-btn {
    cursor: pointer;
    background-color: #f1f1f1;
    padding: 0.5rem 1rem;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1rem;
}

.collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    opacity: 0;
    transition: opacity 0.3s;
}

.collapsible-content p {
    margin: 0.5rem 0;
}


@media (max-width: 480px) {
  .letter-box {
    font-size: 1.5rem;
    height: 2rem;
    width: 2rem;
  }

  #word-input {
    font-size: 1rem;
    padding: 0.3rem;
  }

  #submit-guess {
    font-size: 2rem;
  colour: white;
    padding: 0.3rem 0.6rem;
  }
}
